.container-products {
  background: white;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.titulo {
  color: #007bff;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
}